$color-orange: #F05A28;
$color-orange-hover: #C54B1B; 
$color-orange-light: #F7B74F;
$color-blue: #87C5EC;
$color-mint: #2F797A;
$color-mint-light: #318C8C;
$color-blue-mint: #7CC9C2;
$color-black: #2E2D2C;
$color-grey-dark: #3C3C3B;
$color-grey: #575756;
$color-with: #F7F7F7;
$color-nav: #FFFFFF;
$color-active: #F3F5F9;
$color-drop: #F4F5F9;
$color-dark: #1D1D1D;